@CHARSET "UTF-8";

.image-article_information {
	width: 100%;
	height: 100%;
	/* width: 800px;
	height: 400px; */
	box-shadow: 10px 10px 5px #888888;
	background-color: #fff;
}

.image-article {
	display: inline-block;
	width: 250px;
	height: 150px;
	padding: 2px;
	line-height: 1.6;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}